<%- include('header') -%>
<body>
    <%- include('navbar') -%>
    <div class="container mx-auto max-w-4xl">
        <div class="flex justify-center">
            <div class="space-y-4">
                <div class="py-4">
                    <p class="text-center text-2xl font-bold"><span class="py-1 border-b-4 border-gray-800">About</span></p>
                </div>
                <div class="flex justify-center">
                    <p class="text-center">
                        CARS24 ได้ก่อตั้งขึ้นในปี พ.ศ. 2558 ซึ่งเป็นแพลตฟอร์มชั้นนำด้านรถยนต์มือสอง โดยคำขวัญของ CARS24 ก็คือ การให้บริการลูกค้าด้วยสินค้าที่มีคุณภาพสูงสุด ตลอดจนสร้างประสบการณ์ในการใช้บริการแก่ลูกค้าอย่างน่าประทับใจ ด้วยความสามารถด้านเทคโนโลยีที่แข็งแกร่งในตลาดปัจจุบัน ทำให้เราสามารถเปลี่ยนแปลงการซื้อรถยนต์มือสองด้วยประสบการณ์การซื้อผ่านทางออนไลน์ได้ 100% ทั้งยังมอบสิทธิประโยชน์มากมายแก่ลูกค้าเช่น การจัดทำไฟแนนซ์ การรับประกัน การทดลองใช้งานเป็นระยะเวลา 7 วัน และการจัดส่งสินค้าถึงบ้าน เราจะยังคงสร้างสรรค์และพัฒนาสินค้าของเราอย่างไม่หยุดยั้งเพื่อมอบประสบการณ์ที่ดีที่สุดแก่ลูกค้าทุกคนของเรา ด้วยการให้พวกเขาสามารถเลือกซื้อรถยนต์ได้อย่างหลากหลายประเภท
                    </p>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore doloribus laboriosam facilis, natus doloremque amet ratione nihil ut consectetur beatae.</p>
                </div>
            </div>
        </div>
    </div>
</body>