<%- include('header') -%>
<body>
    <%- include('navbar_user') -%>
    <div class="container mx-auto max-w-4xl">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto molestias doloribus amet accusantium
                dicta sint asperiores sequi laudantium, obcaecati reprehenderit iure fuga, cum ex suscipit et eum
                pariatur ut aliquid assumenda! Est recusandae voluptatum earum at dolores nisi dolorem mollitia
                quisquam, consequatur optio voluptatibus totam distinctio non reiciendis cum voluptatem nesciunt
                praesentium dolore nemo voluptates illum repellat! Quisquam nisi ipsa illo eveniet officiis quo et
                maiores at laudantium fugit cum omnis repudiandae totam voluptatibus ducimus vero voluptas eaque
                voluptatum expedita saepe, vel tenetur obcaecati numquam. Est enim quisquam veniam praesentium
                perspiciatis ipsa eos perferendis quas consectetur vitae nihil architecto velit dicta porro eligendi,
                saepe quis ipsam iusto neque provident autem possimus sapiente? Impedit quo vero voluptatibus
                repudiandae ad, sapiente sunt tempore aliquam at voluptatem sint ex. Ratione ad qui eum repellendus
                similique eveniet nesciunt cum culpa? Quaerat mollitia id quam odit accusantium temporibus eos officiis,
                magnam culpa officia, recusandae modi? Corporis doloribus omnis recusandae porro, facere temporibus
                doloremque impedit, eaque fugiat perferendis dolores. Placeat delectus ipsum culpa veniam eos
                consequuntur qui velit. Aperiam sequi quia culpa a quasi neque ex. Nostrum eum iste, esse reiciendis
                modi eaque ab praesentium nihil molestias sed ullam enim iure atque laborum quam facilis minus obcaecati
                minima eius aperiam commodi porro provident aspernatur quisquam. Adipisci totam voluptatum est, debitis,
                id illo harum architecto ducimus velit quos saepe facere consequatur cupiditate tempore eum, perferendis
                deserunt! Quaerat autem, aspernatur maxime exercitationem qui nostrum illum, voluptatum labore earum
                omnis dolor quae harum laboriosam reiciendis cupiditate libero accusantium, doloribus non mollitia culpa
                laudantium tempore ratione. Placeat ipsum perspiciatis laborum tenetur quisquam itaque excepturi quasi
                praesentium tempore modi a natus ad non voluptatibus sed, soluta iste rem nulla! Voluptate unde
                voluptates dolor placeat omnis assumenda accusantium distinctio nisi, iure, quis quod aperiam autem
                reprehenderit hic doloribus quibusdam ipsa minima nam. Mollitia, consequatur voluptates sapiente maxime
                ullam voluptatibus rerum, veniam necessitatibus amet ex iste dolorum perferendis ut alias? Nam dicta
                maiores sit quos temporibus molestias quaerat consequuntur, delectus adipisci accusantium tempore
                suscipit distinctio perspiciatis maxime, numquam tenetur ipsum! Modi magni impedit, voluptates
                repellendus est dignissimos numquam facilis recusandae sunt ipsa. Ipsum soluta itaque perferendis!
                Voluptatibus illum assumenda inventore. Labore delectus rem ipsam qui id cumque recusandae, adipisci
                eaque! Provident facere veritatis similique odit earum molestias esse, adipisci sunt dicta! Dolores quae
                qui blanditiis sed numquam nobis inventore animi officiis alias neque. Sunt saepe similique nobis! Nam
                quis saepe ab a quasi necessitatibus eos molestiae doloremque expedita asperiores velit minus eaque
                provident hic officiis vero, ipsam similique nihil. Tempore soluta fugit aut doloremque ipsum unde
                voluptates ducimus, maiores id ullam et quod quo modi, a possimus accusamus non facilis quam tenetur
                totam autem expedita laboriosam! Alias magnam voluptatem dolore quod laborum perspiciatis porro, labore
                dolor, architecto est at vel commodi ut aspernatur asperiores reprehenderit. Libero veritatis error
                deserunt hic, consequatur laboriosam illum inventore molestias excepturi modi sapiente soluta obcaecati
                repellat delectus maiores iure ipsa ipsum unde perspiciatis rem eum laborum nemo autem sunt? Voluptatum
                eius optio id unde magnam fugit commodi quisquam illo sequi aliquam pariatur error veritatis dolor,
                repellat dolore quasi eum voluptate eaque quaerat voluptates perferendis dolorem. Laboriosam nostrum
                ratione doloribus? Doloribus quas nostrum recusandae voluptatum eos animi. Quibusdam recusandae ipsum
                exercitationem, soluta libero reiciendis commodi aspernatur eos sit pariatur eaque neque qui est
                architecto! Ratione distinctio non tempore reiciendis sint? Atque hic autem quasi veritatis cupiditate
                nobis fugiat, dicta explicabo, fugit similique in totam molestiae quas tenetur culpa iusto quis
                consequuntur laudantium dolorum modi iure voluptates nihil. Perferendis cum consequatur, omnis impedit
                harum id molestias dignissimos ut, esse aut architecto assumenda! Consectetur, at alias earum rerum
                reprehenderit reiciendis ducimus nesciunt facere nostrum porro. Culpa, facere. Illo quisquam, id eius
                excepturi ab a dolorem veritatis et, perferendis veniam cupiditate repellendus blanditiis voluptatum
                aspernatur! Voluptates ipsam eum laboriosam quaerat neque. Velit, aperiam. Omnis modi repellendus
                repellat temporibus. Eveniet in esse earum culpa odio, velit saepe inventore voluptas odit accusantium
                minima consequatur praesentium modi. Amet culpa voluptatibus rem aperiam incidunt animi debitis a, qui
                reiciendis fugiat sed laborum voluptatum perspiciatis dolore assumenda blanditiis cumque maiores quia
                at. Sint beatae excepturi et nisi eos totam dolorum facilis, recusandae dolorem quae consequatur, esse
                voluptatibus repudiandae reprehenderit officiis amet perspiciatis, ullam cumque officia magnam possimus
                nobis sapiente? Ducimus iusto sed corporis praesentium vero quo maxime nesciunt deserunt modi, nostrum
                iure, debitis assumenda quos ipsam fuga iste, impedit dolores necessitatibus explicabo! Incidunt nobis
                molestias eos porro, animi accusamus, repellat quo quae vero commodi quas sunt excepturi consectetur
                vitae laudantium, repudiandae a. Illo dolore aliquid modi voluptas accusamus distinctio? Magnam
                accusamus rem nulla aut possimus, provident odit adipisci tempora eaque commodi? Eaque assumenda beatae
                at libero quidem animi perspiciatis voluptates placeat recusandae voluptatibus nam autem ab id error,
                consequatur, vitae eos consequuntur. Pariatur ut dolor repellendus, fugit quam tempora quo, quis aperiam
                dolore consequuntur velit dolorum, facilis magnam ullam nesciunt impedit asperiores omnis sint itaque
                expedita adipisci nisi nihil illo? Debitis, voluptatum nulla? Alias adipisci consectetur eveniet.
                Dolores facere nemo ex sapiente ratione autem quam illum itaque, et praesentium minus eum odio natus
                nisi iusto quasi omnis tempore inventore. Maxime laborum repudiandae corrupti quo beatae obcaecati
                blanditiis praesentium veniam nostrum quibusdam aut, enim quod illo ad ullam delectus quaerat earum qui
                consequuntur ipsa est. Cupiditate illum assumenda velit reiciendis unde voluptatem? Corporis illum, quae
                eligendi eaque placeat ducimus natus inventore optio neque porro quibusdam itaque ex dicta
                exercitationem iste quidem quaerat, autem quis excepturi nemo, suscipit cupiditate. Deleniti iusto
                eligendi ipsa vero aut atque molestiae architecto saepe ab inventore laborum pariatur nobis, blanditiis
                quis explicabo dolorum optio laudantium odio sed alias! Ab, deleniti nostrum dolores libero fugit
                sapiente cumque magni harum et nobis, dolorum ipsum placeat modi dolor aliquam ipsam? Reprehenderit
                numquam blanditiis, delectus cupiditate architecto nihil incidunt culpa recusandae maiores unde eaque
                facere magni. Optio laudantium deserunt officia quia maxime obcaecati impedit maiores pariatur, facere
                atque delectus distinctio possimus saepe? Sint, quos tempora. Magni velit, nam quibusdam praesentium
                officiis ab itaque explicabo vel distinctio autem accusamus delectus suscipit beatae rem labore. Quia
                optio debitis perferendis sunt!</p>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                user: JSON.parse(localStorage.getItem('user'))
            }
        })
    </script>
</body>