<body>
  <%- include('header') -%>
  <%- include('navbar_user') -%>
  <%- include('search') -%>
  </div>
    </div>
  <script>
    if(localStorage.getItem('user') == null){
      localStorage.setItem('user', (`<%- user %>`))
    }
    var app = new Vue({
      el : '#app',
      data: {
        user : JSON.parse(localStorage.getItem('user'))
      }
    })
  </script>
</body>
</html>