<%- include('header') -%>

  <body>
    <%- include('navbar_user') -%>
      <div class="container mx-auto max-w-4l">
        <%- include('search') -%>
      </div>
      </div>
      </section>
      <script>
        if (localStorage.getItem('user') == null) {
          localStorage.setItem('user', (`<%- user %>`))
        }
        var app = new Vue({
          el: '#app',
          data: {
            user: JSON.parse(localStorage.getItem('user'))
          }
        })
      </script>
  </body>

  </html>