<body>
  <%- include('header') -%>
  <%- include('navbar') -%>
  <%- include('search') -%>
  </div>
  <script>
    var app = new Vue({
      el : '#app',
      data: {
        
      }
    })
  </script>
</body>
</html>