<nav class="flex items-center px-12 py-8 justify-between" style="background: rgb(238, 237, 237);">
    <div class="space-x-6 flex items-center">
        <a href="/" class="text-3xl text-black font-bold">CAR USED</a>
        <a href="" class="text-xl">ค้นหารถ</a>
        <a href="" class="text-xl">ขายรถยนต์</a>
        <a href="" class="text-xl">เกี่ยวกับ</a>
        <a href="" class="text-xl">คำถามพบบ่อย</a>
    </div>
    <div class="flex items-center space-x-6">
        <div class="flex items-center space-x-2">
            <img width="40px" src="./images/browser/tel.png" alt="">
            <span>099xxxxxxx</span>
        </div>
        <div class="flex items-center space-x-2">
            <img width="40px" src="./images/browser/user.png" alt="">
            <a href="/login">ลงทะเบียน/เข้าสู่ระบบ</a>
        </div>
    </div>
</nav>