<body>
    <%- include('header') -%>
    <%- include('navbar_user') -%>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                user: JSON.parse(localStorage.getItem('user'))
            }
        })
    </script>
</body>